<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/news1.css" />
    <link rel="icon" type="image/png" href="/static/css/icon.png" />
    <title>Lucid</title>
  </head>
  <body>
    <div class="interface">
      <div class="tool_interface">
        <nav class="tool_wrapper">
          <button class="checker"><a href="./image.html">Image</a></button>
          <button class="checker"><a href="./text.html">Text</a></button>
        </nav>
        <br />
        <h1>
          Lucid is a comprehensive web application that detects manipulated or
          AI-generated content across multiple formats. The platform analyzes
          mainly historical texts, images, and documents using advanced machine
          learning models to determine authenticity. Users can upload files for
          real-time analysis and receive detailed reports with confidence scores
          and detection rationale. A key feature allows users to upload their
          own custom datasets to train personalized detection models tailored to
          specific content types or domains, enhancing accuracy for specialized
          use cases. The system provides transparent scoring and explanatory
          insights for all predictions.
        </h1>
        <br />
      </div>
    </div>
  </body>
</html>
